body {
  background-color: #171717;
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 120px;
  align-items: center;
}

.header__btn {
  display: flex;
  width: 218px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4b564;
}

.header__btn img {
  height: 13px;
  width: 13px;
  margin-right: 10px;
}

.header__btn p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin-bottom: 41px;
}

h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 41px;
}

h4 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
}

.projects {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: grid;
  row-gap: 34px;
  column-gap: 27px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  margin-bottom: 161px;
}

[class*="projects__item-"] {
  background-color: papayawhip;
  display: grid;
  place-items: center;

}

.projects__item-1 {
  background-color: #634f2c;
  grid-column: 1/3;
}

.projects__item-2 {
  background-color: #b4a385;
  text-align: center;
  grid-column: 3/5;
}

.projects__item-3 {
  background-color: #e4b564;
  grid-column: 5/7;
}

.projects__item-4 {
  background-color: #635a4a;
  justify-self: stretch;
  align-self: stretch;
  grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 2;
}

.projects__item-5 {
  background-color: #b08c4d;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
}


.autopark {
  padding-bottom: 191px;
}

.autopark h2{
  margin-bottom: 94px;
}

.autopark__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 100px);
  column-gap: 30px;
  row-gap: 25px;
  

}

[class*="autopark__wrapper__item"] {
  color: #fff;
  font-weight: 500;
font-size: 20px;
line-height: 25px;  
  display: grid;
  place-items: top;
  padding-top: 44px;
  padding-left: 52px;
}


.autopark__wrapper__item1 {
  background-color: #0A0909;
  grid-row: 1/4;
}

.autopark__wrapper__item2 {
  background-color: #1F1F1F;
  grid-row: 1/5;
}

.autopark__wrapper__item3 {
  background-color: #1F1F1F;
  grid-row: 1/3;
}

.autopark__wrapper__item4 {
  background-color: #1F1F1F;
  grid-row: 4/9;
}

.autopark__wrapper__item5 {
  background-color: #E4B564;
  color:  #000000;
  grid-row:5/9
}

.autopark__wrapper__item6 {
  background-color: #0A0909;
  grid-row: 3/6;
}

.autopark__wrapper__item7 {
  background-color: #0A0909;
  grid-row: 6/9;
}




.clients {
  background-color: #0E0E0E;
  padding-top: 172px;
}

.clients__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 61px;
}

.clients__header a {
  color: #e4b564;
  border: 1px solid #e4b564;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 40px;
}

.clients-projects__wraper {
  display: grid;
  margin-bottom: 239px;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: 391px 391px;
}

[class*="clients-projects__item"] {
  padding: 151px 171px;
}

[class*="clients-projects__item"] span {
  display: none;
}

[class*="clients-projects__item"]:hover {
  cursor: pointer;
  padding-top: 61px;
}

[class*="clients-projects__item"]:hover span {
  display: block;
  padding-top: 16px;
}

b {
  font-weight: 700;
}

.clients-projects__item1 {
  background-color: #634f2c;
}

.clients-projects__item2 {
  background-color: #b4a385;
  text-align: center;
}
.clients-projects__item3 {
  background-color: #e4b564;
}
.clients-projects__item4 {
  background-color: #635a4a;
}
.clients-projects__item5 {
  background-color: #b08c4d;
}
.clients-projects__item6 {
  background-color: #634f2c;
}
