* {
    margin: 0;
    padding: 0;
}

header {
height: 78px;
color:#FF0000;
text-align: center;
letter-spacing: 2.7px;
text-transform: uppercase;
font-weight: 700;
font-size: 18px;
line-height: 18px;  
text-decoration: none;
}

ul {
    padding-top: 25.5px;
   
}

li {
    display: inline;
    text-align: center;
    padding-right: 72px;
}

img {
    width: 100%;
}

main {
    text-align: center; 
}

h2 {
text-transform: uppercase;
font-weight: 700;
font-size: 22px;
line-height: 27px;
margin-top: 48px;
margin-bottom: 38px;
}

p {
    max-width: 1145px;
    margin: 0 auto;
    margin-bottom: 28px;
}

p+p {
    margin-bottom: 84px;
}

button {
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    text-transform: uppercase;
    margin-bottom: 82px;  
    color:#FFFFFF;
    border: none;
}

footer {
    font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #373737;
text-align: right;
margin-right: 105px;
margin-bottom: 29px;
}