body {
  background: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

p {
  color: #fff;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  padding-top: 46px;
}

header .container a {
  display: block;
  color: #fff;
}

.left_side {
  display: flex;
  align-items: center;
}

.logo {
  background: url(./img/logo.svg);
  width: 53px;
  height: 47px;
  display: block;
}

.left_side__text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.left_side p {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}

.left_side p + p {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.left_side:hover p {
  color: #f26522;
}

.left_side:hover .logo {
  background: url(./img/logo2.svg);
}

.right_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.right_side:hover a {
  color: #f26522;
}

.right_side a + a {
  margin-top: 19px;
}

.content__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

[class*="content__item"] {
  text-align: center;
  padding-bottom: 37px;
  position: relative;
}

[class*="content__item"] p {
  padding-top: 20px;
}

[class*="content__item"]:hover p {
  color: #f26522;
  display: block;
}

[class*="content__item"]:hover .maine__content__hover p {
  color: #fff;
}

[class*="content__item"]:hover .maine__content__hover {
  display: block;
}

.maine__content__hover {
  background-color: #f26522;
  display: none;
  position: absolute;
  top: 164px;
  width: 100%;
}

.hover__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 12px;
}
.hover__left {
  display: flex;
 align-items: flex-start;
  flex-direction: column;
}

.hover__left p {
  padding-top: 7px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.hover__left p + p {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.hover__right p{
  font-weight: 400;
font-size: 14px;
line-height: 14px;
}

.hover__right p::after {
  content: ">";
  color: #fff;
  padding-left: 15px;
  padding-right: 14px;
  width: 5px;
  height: 10px;
}

footer {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
