.container {
  width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 63px;
  margin-bottom: 40px;
}
header a {
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
}

header span {
  color: #4bcaff;
}
nav {
  background-color: #35444f;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 32px;
  padding-right: 33px;
  border-right: 1px solid #ffffff;
}

nav li:first-child {
  border-left: 1px solid #ffffff;
}


nav a {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

nav li:hover {
  background-color: #222f3a;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
}

aside ul {
  border: 1px solid #000000;
  min-width: 344px;
  background: rgba(0, 0, 0, 0.0001);
}

aside li {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 44px;
  min-width: 344px;
}

aside li a {
  display: block;
}

aside li:hover {
  padding-top: 27px;
  padding-left: 80px;
  padding-bottom: 27px;
  background-color: #dbdbdb;
}

aside a {
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}

aside a:hover {
  color: #35444f;
}

.central-part {
  max-width: 855px;
}

.central-image {
  border: 1px solid #000000;
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  justify-content: center;
}

img {
  transition: transform 0.3s;
}

.central-image img:hover {
  transform: scale(1.2);
}

.main__text {
  margin-top: 37px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.main__text p + p {
  margin-top: 34px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  margin-bottom: 30px;
  background-color: rgba(99, 105, 110, 0.48);
  height: 70px;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 21px;
}

.footer a {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  padding-right: 40px;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}

footer li a:hover {
    color:#3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 13px;
}
